@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #1D4ED8; /* Cor padrão */
}

[data-theme='dark'] {
    --color-primary: #3B82F6; /* Cor primária para tema escuro */
}

body {
    --primary-color: var(--color-primary);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
  :root {
        --radius: 0.5rem;
    }
}
