@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

:root {
    --color-primary: #1D4ED8; /* Cor padrão */
}

[data-theme='dark'] {
    --color-primary: #3B82F6; /* Cor primária para tema escuro */
}

body {
    --primary-color: var(--color-primary);
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
